
#svgMain {
  margin: 0 auto;
  display:block;
}

.returnLink {
  font-family: 'Roboto-Light';
  font-size: 12px;
  color: #EFCA73;
  position: relative;
  bottom: 220px;
}

.returnLink:hover {
  color: #fff;
  text-decoration: underline;
}
