/*modal*/

.modalMask{
    width: 100%;
    min-width: 1024px;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 100% 0;
    background-image:url("../../images/modalMask.svg");
}

.loginRegisterComponent{
    width: 100%;
    min-width: 1024px;
    height: 100vh;
    background: rgba(15, 15, 30, 0.3);
    padding-top: 140px;
}

.loginRegisterContent{
    width: 360px;
    margin: 0 auto;
    background: rgba(33,49,64,0.75) !important;
    border-radius: 25px;
    color: #FFFFFF;
    padding: 40px;
}
/*loginRegisterComponent*/
.loginRegisterComponent .logoSample3{
    width: 240px !important;
    height: 83px;
    margin: 0 auto;
    background: url("../../images/logoSample3-01.svg")no-repeat 50% 50%;
}


/*Tabs*/
.ant-tabs,.ant-tabs-nav .ant-tabs-tab-active,.ant-tabs-nav .ant-tabs-tab:hover{
    color: #fff !important;
}
.ant-tabs-nav .ant-tabs-tab{
    font-family: BebasNeue-Regular;
    font-size: 20px;
}

.ant-tabs-ink-bar{
    background-color:#ED6C44 !important;
}

/*login*/
.login-form .signInWith li {
    width: 100%;
    height: 35px;
    margin: 10px auto;
    border-radius: 7px;
    cursor: pointer;
    background-image: linear-gradient(-180deg, #FF776C 0%, #DD4339 100%);
}
.login-form .signInWith li:nth-child(2){
    background-image: linear-gradient(0deg, #4267B2 0%, #80ABE3 100%);
}
.login-form .signInWith li img {
    width: 48px !important;
    height: 22px;
    padding: 3px 15px;
    border-right: 2px solid #151515;
    margin-top: 0;
}

.login-form .signInWith li a {
    width: 100%;
    font-family: BebasNeue-Regular;
    color: #fff;
    font-size: 15px;
    text-align: center;
}

.login-form a.yellowTxt{
    font-family: Roboto-Medium;
    font-size: 10px;
    color: #EFCA73;
}
.login-form p{
    color: #959595;
}
.ant-input{
    font-family: Roboto-Light;
    background: #2A4656 !important;
    border-radius: 5px !important;
    border:none !important;
    margin: 5px auto !important;
    font-size: 10px !important;
    color: #fff !important;
}

.ant-btn-primary{
    width: 100%;
    background: #f3764a !important;
    height: 40px !important;
    border: none !important;
    margin: 12px auto;
}
/*sign up*/
.ant-form .ant-checkbox-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.ant-form .ant-checkbox-wrapper p,.ant-form .ant-checkbox-wrapper a{
    line-height: 15px;
}
.login-form .errorMsg{
    width: 100%;
    height: 25px;
    color: #ED6C44;
    text-transform: Capitalize;
}
