@charset "CESU-8";
.waitForVerify{
    width: 100vw;
    height: 100vh;
    align-items: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 100% 0;
    background-image:url("../../images/modalMask.svg");
}
.verifyBody{
    width: 100vw;
    height: 100vh;
    align-items: center;
    background-color: rgba(15, 15, 30, 0.3);
}
.verifyContent{
    width: 420px;
    height: auto;
    padding: 30px;
    background-color:#203041;
}
/*发送邮箱验证*/
.verifyContent img{
    width: 260px;
    margin-top: 10px;
}
.verifyContent .userInformation{
    line-height: 30px;
}
.verifyContent .userInformation h3{
    color: #F0CA72;
    margin: 15px auto 30px;
    font-size: 18px;
}
.verifyContent .userInformation h4{
    color: #888c91;
    margin: 30px auto 15px;
    font-size: 16px;
}
.verifyContent .userInformation .loginButton{
    width: 260px;
    height: 40px;
    line-height: 40px;
    background-color: #ED6C44;
    font-size: 16px;
    color: #FFFFFF;
    border: none;
    border-radius: 10px;
    font-family: Roboto-Black;
    cursor: pointer;
}
.verifyContent .userInformation input{
    width: 300px;
    height: 36px;
    margin: 0 auto 30px;
    border-radius: 3px;
    padding-left: 10px;
    background:#2A4451;
    color: #fff;
}
.verifyContent .yellowTxt{
    margin-top: 20px;
    display: inline-block;
}
.verifyContent  h2{
    color: #888c91;
    font-size: 14px;
    border-bottom: 1px solid #ED6C44;
    padding: 20px 0;
}
.verifyContent  h6{
    color: gray;
    font-size: 10px;
    margin-bottom: -10px;
}
.verifyContent  h2 a{
    text-decoration: underline;
    color: #F0CA72;
}
.verifyContent  p{
    color: #888c91;
    font-size: 14px;
    margin: 20px 0;
}
.verifyContent  a{
    color: #F0CA72;
    font-size: 14px;
}