/**新闻模板**/
.newsComponent {
    width: 1024px;
    margin: 0 auto;
    flex-flow: row wrap;
    align-items: flex-start;
}

.newsComponent .singleNews {
    width: 310px;
    text-decoration: none;
}

.newsComponent .singleNews .newsImg {
    width: 310px;
    height: 190px;
    display: block;
    overflow: hidden;
}

.newsComponent .singleNews .author ,.newsComponent h1{
    font-size: 10px;
    color: #ffb000;
    text-align: left;
    margin-top: 10px;
}

.newsComponent .singleNews .headline ,.newsComponent h2{
    font-size: 16px;
    color: #fff;
    text-align: left;
    margin: 10px 0;
}

.newsComponent .singleNews .content,.newsComponent h3{
    width: 98%;
    font-size: 12px;
    color: #fff !important;
    line-height: 20px;
    height: 20px;
    margin:10px 0;
    text-align: left;
    word-break: break-all;
    text-overflow: ellipsis;
    overflow: hidden;
}
.newsComponent .singleNews .content span,.newsComponent .singleNews .content p{
    color: #ffb000 !important;
}
.newsComponent .singleNews span {
    font-size: 10px;
    color: #FB531F;
    text-align: justify;
    display: block;
}
.newsDetailContent h5 {
  color: #F2CC73;
  margin-top: 30px;
  text-align: left;
}

.singleNews .tags{
    display: flex;
    justify-content: flex-start;
    flex-flow: wrap row;
    color: #ffb000;
    font-size: 11px;
    line-height: 20px;
    font-family: Calibri;
    overflow: hidden;
}
.singleNews .tags span{
    color: #ffb000;
    cursor: pointer;
    line-height: 20px;
    margin: 0 2px;

}
.singleNews .tags span:hover{
    text-decoration: underline;
}
/**新闻详情页**/
.newsDetailContent {
    width: 1024px;
    margin: 0 auto;
    padding-top: 170px;
    padding-left: 50px;
    padding-right: 50px;
    display: flex;
    justify-content: center;
}

.newsDetailContent h1 {
    font-size: 30px;
    color: #182430;
    line-height: 35px;
    margin: 0 auto;
    text-align: left;
}

.newsDetailContent h2 {
    font-size: 14px;
    color: #EFCA73;
    text-align: left;
    margin-bottom: 20px;
}

.newsDetailContent .newsimg {
    width: 100%;
}

.newsDetailContent p {
    font-size: 16px;
    color: #182430;
    line-height: 30px;
    text-align: left;
    margin: 20px 0;
}
.newsDetailContent ul li{
    text-align: left;
}
.relatedArticles {
    margin-top: 30px;
    padding: 60px 0;
    background-color: #f5f6fa;
}
.relatedNews{
    padding-top: 140px;
    min-height: calc(100vh - 220px);
}