@charset "CESU-8";
.securityPersonalContent{
    width: 1024px;
    margin: 0 auto;
    padding-top: 100px;
    min-height: calc(100vh - 220px);
}

.totalDtc{
    font-size: 40px;
    color: #182430;
    padding: 50px 0;
    border-bottom: 1px solid #d1d2d2;
}
.totalDtc h3{
    margin: 0;
    font-weight: bold;
}
.totalDtc a{
    font-size: 14px;
    color: #EFCA73;
    display: block;
}
.totalDtc a:hover{
    color: #EFCA73;
}

.securityPersonalContent h4{
    font-size: 20px;
    color: #182430;
    line-height: 45px;
    text-align: left;
    border-top: 1px solid #d1d2d2;
    border-bottom: 1px solid #d1d2d2;
    padding-left: 20px;
}
.securityPersonalContent h5{
    font-size: 15px;
    color: #787878;
    margin-top: 20px;
    text-align: left;
    padding-left: 10px;
}
.securityPersonalContent input{
    width: 100%;
    height: 40px;
    background: #F8F9F9;
    border-radius: 7px;
    font-size: 13px;
    color: #182430;
    line-height: 25px;
    text-align: left;
    padding-left: 10px;
}
.securityPersonalContent .editable{
    width: 350px;
    margin-bottom: 30px;
}
.securityPersonalContent .securityInfo{
    width: 350px;
    line-height: 20px;
    margin-bottom: 60px;
    background: #fa734a;
    color: #FFFFFF;
    padding: 40px;
}
.securityPersonalContent span{
    width: 110px;
    height: 30px;
    line-height: 30px;
    border-radius: 7px;
    display: block;
    margin: 15px 0;
    cursor: pointer;
}
.securityPersonalContent span.update{
    background-image: linear-gradient(0deg, #FB531F 0%, #ED6C44 100%);
    color: #FFFFFF;
    font-size: 11px;
}
.securityPersonalContent span.back{
    border: 1px solid #ED6C44;
    color: #ED6C44;
    font-size: 11px;
}
.security .errorMsg{
    width: 100%;
    height: 25px;
    color: #ED6C44;
    text-transform: Capitalize;
}