
.aboutShowcase {
    padding-top: 120px;
}

.aboutShowcase .mainTitle {
    font-family: 'Roboto-Medium';
    font-size: 30px;
    color: #182430;
    line-height: 30px;
    margin-top: 40px;
    text-align: left;
}

.aboutShowcase .mainSubtitle {
    font-family: 'Roboto-Light';
    font-size: 14px;
    color: #EFCA73;
    text-align: left;
}

.aboutShowcase .aboutUsBanner {
    width: 100%;
}

.aboutShowcase .aboutUsInfos {
    text-align: justify;
    text-justify: inter-word;
    font-size: 16px;
    color: #182430;
    line-height: 30px;
}

.aboutShowcase .aboutUsInfos p {
    margin-bottom: 40px;
}

.aboutShowcase .aboutUsInfos p:first-child {
    margin-top: 50px;
}

.aboutShowcase .aboutUsInfos p:nth-child(4) {
    margin-bottom: 0;
    line-height: 3;
}

.aboutShowcase .aboutUsInfos p:last-child {
    margin-top: 30px;
}

.aboutShowcase .aboutUsInfos ol {

}

.aboutShowcase .aboutUsInfos li {
    margin-left: 18px;
}

.aboutShowcase hr {
    width: 75%;
    min-width: 1024px;
    margin: 0 auto;
    border-top: 1px solid #979797;
}

.aboutShowcase .questions {
    text-align: center;
}

.aboutShowcase .questions .questionHeader {
    font-family: 'Roboto-Medium';
    font-size: 26px;
    color: #182430;
    text-align: center;
    line-height: 30px;
    margin-bottom: 10px;
}

.aboutShowcase .questions {
    text-align: center;
    margin-top: 40px;
}

.aboutShowcase .questions p {
    margin-top: 20px;
    font-size: 14px;
    color: #182430;
    line-height: 15px;
}

.aboutShowcase .questions p .faqLink {
    font-size: 14px;
    color: #FB531F;
}

.aboutShowcase .questions p:last-child {
    margin-bottom: 50px;
}

.aboutShowcase .questions p .aboutShowcaseLink {
    font-size: 14px;
    color: #F15E2F !important;
}
.aboutShowcase .bottomPart{
    width: 100%;
    min-height: 60px;
    padding: 40px 0;
    background: url("../../images/HowDTCworksBG.svg")no-repeat 50% 50%;
}
.aboutShowcase .bottomPart .bottomBanner {
    width: 100%;
}

.aboutShowcase .bottomPart .title {
    font-family: 'Roboto-Medium';
    font-size: 26px;
    color: #FFFFFF;
    line-height: 30px;
    bottom: 220px;
}

.aboutShowcase .bottomPart .subTitle {
    font-size: 14px;
    color: #FFFFFF;
    text-align: center;
    line-height: 30px;
    bottom: 220px;
}

.aboutShowcase .bottomPart .clickHere {
    font-family: 'Roboto-Medium';
    font-size: 10px;
    color: #FB531F;
}

.aboutShowcase .bottomPart .clickHere:hover {
    text-decoration: underline;
    color: #c23616;
    transition: 0.3s;
}
