.faq .mainTitle {
  font-family: 'Roboto-Medium';
  font-size: 30px;
  color: #182430;
  line-height: 30px;
  text-align: left;
  margin-top: 20px;
}

.faq .mainSubTitle {
  font-family: 'Roboto-Regular';
  font-size: 14px;
  color: #EFCA73;
  text-align: left;
}
.faq .showcaseImg {
  width: 100%;
}

.faq .aboutInfo {
  text-align: justify;
  text-justify: inter-word;
  font-size: 16px;
  color: #182430;
  line-height: 30px;
}

.faq .aboutInfo b:first-child {
  margin-top: 50px;
}

.faq .aboutInfo p:first-child {
  margin-top: 50px;
}

.faq .aboutInfo p {
  margin-bottom: 40px;
}

.faq .bottomPart {
  width: 100%;
  padding: 40px 0;
  background: url("../../images/HowDTCworksBG.svg")no-repeat 50% 50%;
}

.faq .bottomPart .title {
  font-family: 'Roboto-Medium';
  font-size: 26px;
  color: #FFFFFF;
  text-align: center;
  line-height: 30px;
}

.faq .bottomPart .subTitle {
  font-size: 14px;
  color: #FFFFFF;
  line-height: 30px;
}


.faq .bottomPart .clickHere {
  font-family: 'Roboto-Medium';
  font-size: 10px;
  color: #FB531F;
}

.faq .bottomPart .clickHere:hover {
  text-decoration: underline;
  color: #c23616;
  transition: 0.3s;
}
