@charset "UTF-8";
html,body {
    width: 100%;
    min-width: 1024px;
    color: #000;
    height:auto;
    margin: 0 auto;
    font: normal 100% Arial, "Hiragino Sans GB", "Microsoft Yahei", "Microsoft Sans Serif", sans-serif;
    -webkit-font-smoothing: subpixel-antialiased
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul li {
    list-style: none;
}

h1, h2, h3, h4, h5, i, b, em, div {
    font-weight: normal;
    font-style: normal;
    text-align: center;
}

i, b, em, span {
    display: inline-block;
}

a {
    text-decoration: none;
    cursor: pointer;
}

button {
    cursor: pointer;
}
input,button,select,textarea{
    outline:none;
    border: none;
}
input:focus {
    outline: none;
}

.displayflexcenter {
    display: flex;
    align-items: center;
    justify-content: center;
}

.displayflexbetween {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.displayflexstart {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.displayflexend {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.clearFloat {
    clear: both;
}

.ant-message span{
    text-transform: Capitalize !important;
}

/*修改placeholder颜色*/
input[type=text]::-webkit-input-placeholder,
input[type=email]::-webkit-input-placeholder,
textarea::-webkit-input-placeholder,
input[type=password]::-webkit-input-placeholder { /* WebKit browsers */
    color: #898989 !important;
}
input[type=text]:-moz-placeholder,
input[type=email]:-moz-placeholder,
textarea::-webkit-input-placeholder,
input[type=password]:-moz-placeholder{ /* Mozilla Firefox 4 to 18 */
    color: #898989 !important;
}
input[type=text]::-moz-placeholder,
input[type=email]::-moz-placeholder,
textarea::-webkit-input-placeholder,
input[type=password]::-moz-placeholder{ /* Mozilla Firefox 19+ */
    color: #898989 !important;
}
input[type=text]:-ms-input-placeholder,
input[type=email]:-ms-input-placeholder,
textarea::-webkit-input-placeholder,
input[type=password]:-ms-input-placeholder{ /* Internet Explorer 10+ */
    color: #898989 !important;
}


@font-face {
    font-family: Orbitron-Bold;
    src: url('../font/orbitron-bold.otf');
}

@font-face {
    font-family: Antonio-Regular;
    src: url('../font/Antonio-Regular.ttf');
}

@font-face {
    font-family: Roboto-Black;
    src: url('../font/Roboto-Black.ttf');
}

@font-face {
    font-family: Roboto-Medium;
    src: url('../font/Roboto-Medium.ttf');
}

@font-face {
    font-family: Roboto-Light;
    src: url('../font/Roboto-Light.ttf');
}

@font-face {
    font-family: Roboto-Bold;
    src: url('../font/Roboto-Bold.ttf');
}

@font-face {
    font-family: BebasNeue-Regular;
    src: url('../font/Antonio-Regular.ttf');
}


h3.mainTitle {
    font-family: Roboto-Black;
    font-size: 20px;
    color: #FFFFFF;
    text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.67);
}

p.secondTitle {
    font-size: 16px;
    color: #FFFFFF;
    line-height: 24px;
    margin: 15px 0;
}
.app{
    background: #1E2B39;
}
/*mainContent*/
.mainContent {
    width: 100%;
    min-width: 1024px;
    min-height: 100vh;
    background-color: #182430;
    position: relative;
}

.mainContent .video-react-big-play-button, .mainContent .video-react-control-bar {
    display: none !important;
}

.mainContent .animated {
    width: 98%;
    min-width: 1024px;
}

.mainContent .disableFullScreen{
    width:100%;
    min-height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}


#backTup {
    width: 35px;
    height: 35px;
    line-height: 40px;
    border-radius: 50%;
    position: fixed;
    bottom: 45px;
    right: 40px;
    cursor: pointer;
    background: #ED6C44;
}

#backTup .fa-angle-up {
    color: #FFFFFF;
    font-size: 24px;
}
