@charset "UTF-8";
/*componentFooter*/

.secondFooterContent .updates {
    width: 100%;
    padding: 40px 0;
}

.secondFooterContent .updates span {
    font-family: 'Roboto-Medium';
    font-size: 12px;
    color: #182430;
    line-height: 15px;
    text-align: left;
}
.secondFooterContent .updates .displayflexbetween{
    margin-right: 30px;
}
.secondFooterContent .updates .learnMore {
    font-size: 10px;
    color: #FB531F;
    line-height: 0.4;
}

.secondFooterContent .updates .learnMore:hover {
    color: #eb2f06;
}

.secondFooterContent .updates .updateLogo {
    width: 40px;
    height: 40px;
    margin-right: 20px;
}

.secondFooterContent .updates .getUpdatesButton {
    background-image: linear-gradient(0deg, #FB531F 0%, #ED6C44 100%);
    border-radius: 5px;
    border: none;
    padding: 10px;
    color: #fff;
    font-size: 12px;
}

.secondFooterContent .updates .getUpdatesButton:hover {
    background-image: linear-gradient(0deg, #FB531F 0%, #eb2f06 100%);
}

.componentFooter {
    width: 100%;
    min-width: 1024px;
    padding:8px 10px 0;
    background: #111920;
}
.componentFooter .displayflexbetween{
    font-size: 8px;
    color: #FFFFFF;
    text-align: center;
}
.componentFooter ul li a{
    height: 15px;
    line-height: 15px;
    padding: 0 15px;
    border-left: 1px solid #efc60c;
    color: #fff;
    cursor:pointer;
}
.componentFooter ul li a:hover {
    text-decoration: underline;
}

.componentFooter ul li:nth-child(1){
    border-left: none;
}
/**子页面的页脚**/
.secondFooter {
    background: #fff;
    padding: 15px 0;
}

.secondFooter .lionContent {
    background: #182430;
    border-radius: 12px;
    padding: 6px;
    margin: 0 15px;
}

.secondFooter .lionContent img {
    width: 40px;
    height: 40px;
}

.secondFooter .footerTxt span {
    text-align: left;
    display: block;
}

.secondFooter .footerTxt span:nth-child(2) {
    font-size: 10px;
    color: #FB531F;
    cursor: pointer;
}

.secondFooter .getUpdates {
    font-size: 12px;
    background-image: linear-gradient(0deg, #FB531F 0%, #ED6C44 100%);
    border-radius: 5px;
    padding: 10px 15px;
    color: #FFFFFF;
    margin: 0 20px;
    cursor: pointer;
}
.secondFooter .getUpdates:hover {

    background-image: linear-gradient(0deg, #FB531F 0%, #eb2f06 100%);

}


/*subComponentFooter*/
.subComponentFooter {
    background: #dcdcdc;
    padding: 10px 0 15px;
}
.subComponentFooter ul{
    margin-bottom: 0;
}
.subComponentFooter .displayflexcenter li a{
    font-size: 14px;
    color: #0a3d62 !important;
    text-decoration: none;
    margin: 0 35px;
    line-height: 35px;

}

.subComponentFooter ul.displayflexcenter li:hover {
    text-decoration: underline;

}

.subComponentFooter h5 {
    line-height: 15px;
    margin-bottom: 5px;
    font-size: 10px;
}
.subComponentFooter h5 a{
    text-decoration:underline;
    color: #ED6C44;
}
.subComponentFooter h4 {
    line-height: 15px;
    margin-bottom: 0;
    font-size: 12px;
}
