/*componentHeader*/
@import url('https://fonts.googleapis.com/css?family=Montserrat');
html {
  scroll-behavior: smooth;
}
.componentHeader {
    width: 100%;
    min-width: 1024px;
    padding: 0 20px 0;
    top: 0;
    z-index: 100;
    position: fixed;
    background: rgba(16,24,43,0.7);
}
.componentHeader .displayflexbetween{
    margin-bottom: 0;
    font-family: 'Antonio-Regular';
}

.componentHeader.displayflexbetween img {
    width: 160px;
    cursor: pointer;
}
.componentHeader .logout img{
  width: 25px;
}
.componentHeader .displayflexbetween .navVerticalLine {
  color: #fff;
}

.loginIconInHeader {
  position: relative;
  font-size: 25px;
  color: #dfe6e9;
}

.loginIconInHeader:hover {
  color: #636e72
}

.componentHeader .displayflexbetween li {
    line-height: 90px;
    margin: 0 15px;
    cursor: pointer;
    color: #FFFFFF;
    font-size: 20px;
}
.componentHeader .displayflexbetween li a{
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 500;
    text-decoration: none;
}
.componentHeader .displayflexbetween li.moreButton {
    position: relative;
}

.componentHeader .displayflexbetween li.moreButton:hover #moreDownMenu {
    display: block;
}

/* navbar items simple animation */
.componentHeader .displayflexbetween li {
  position: relative;
  text-decoration: none;
}

.componentHeader .displayflexbetween li:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 15px;
  left: 0;
  background-color: #fff;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.componentHeader .displayflexbetween li:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

.userInformation h3 {
  font-size: 15px !important;
  line-height: 1.9;
  color: #feca57;
}
.userInformation h4 {
  color: rgba(255,255,255,.5) !important;
}

.userInformation a {
  color: #feca57;
}

/* end of navbar item animation */

/*下拉菜单*/
#moreDownMenu {
    width: 120px;
    background: rgba(255,255,255,0.7);
    padding: 20px 15px;
    display: none;
    position: absolute;
    top: 70px;
    left:-30px;
}

#moreDownMenu a {
    display: block;
    font-size: 16px;
    line-height: 30px;
    color: #272727;
    text-align: left;
}

#moreDownMenu a:hover {
    color: #ED6C44;
}

.componentHeader a.login {
    font-family: 'Antonio-Regular';
    border: 1px solid #FFFFFF;
    border-radius: 5px;
    padding: 2px 18px;
    font-weight: 500;
    margin: 0 5px;
    cursor: pointer;
    font-size: 20px;
    color: #FFFFFF;
}

.componentHeader a.login:hover {
    background-color: #2d3436;
    transition: 0.3s;
    color: #fff;
    border-color:#636e72;
}

.componentHeader a.signup {
    font-family: 'Antonio-Regular';
    background-image: linear-gradient(0deg, #FB531F 0%, #ED6C44 100%);
    border-radius: 5px;
    padding: 2px 10px;
    margin: 0 15px;
    border: 1px solid #ED6C44;
    cursor: pointer;
    font-size: 20px;
    color: #FFFFFF;
}
.componentHeader a.myAccount{
    background:#ED6C44;
    border-radius: 5px;
    padding: 2px 10px;
    font-size: 14px;
    color: #FFFFFF;
    margin: 0 15px;
}

.componentHeader a.signup:hover {
  transition: 0.4s;
  border: 1px solid #ED6C44;
  background-image: linear-gradient(0deg, #ee5253 0%, #ff6b6b 100%);
}
/*language*/
.componentHeader .displayflexbetween li.languageButton {
    position: relative;
}
.componentHeader .displayflexbetween li.languageButton:hover #languageDownMenu {
    display: block;
}
.componentHeader .languageButton .map-globe{
    width: 22px;
    height: 22px;
    background: url("../images/globeWhite-01.svg")no-repeat;
    display: inline-block;
}
#languageDownMenu {
    width: 160px;
    background: rgba(255,255,255,0.7);
    padding: 20px 15px;
    display: none;
    position: absolute;
    top: 70px;
    left:-55px;
}

#languageDownMenu a {
    display: flex;
    justify-content: flex-start;
    font-size: 12px;
    line-height: 30px;
    color: #272727;
    text-align: left;
}

#languageDownMenu a:hover {
    color: #ED6C44;
}
#languageDownMenu a img{
    width: 30px;
    margin-right: 15px;
}
#google_translate_element{
    visibility: hidden;
    width: 0;
}
.goog-te-banner-frame{
    display: none !important;
    height: 0 !important;
}
.goog-te-gadget {
    height: 58px !important;
    overflow: hidden !important;
}
body{
    top: 0 !important;
}
#goog-gt-tt{
    display: none !important;
    visibility: hidden !important;
}










/**子页面头部**/
.subComponentHeader {
    width: 100%;
    min-width: 1024px;
    background: #F8F9F9;
    z-index: 10;
    position: fixed;

}

.subComponentHeader .subHeaderContent {
    width: 100%;
    min-width: 1024px;
    margin: 0 auto;
    padding: 5px 20px;
    height: 100px;
}

.subComponentHeader .left img.logo {
    width: 52px;
    height: 52px;
}

.subComponentHeader .left a {
    font-family: BebasNeue-Regular;
    font-size: 30px;
    color: #182430;
    line-height: 40px;
    margin: 0 20px;
    padding-left: 15px;
    border-left: 2px solid #b5b5b5;
}

.subComponentHeader .left .chatlogo {
    width: 30px;
    height: 30px;
    line-height: 30px;
    background: #bbbcbc;
    border-radius: 50%;
    margin: 0 8px;
    padding-left: 0;
}

.subComponentHeader .left .chatlogo img {
    width: 20px;
    margin-right: 2px;
    margin-bottom: 2px;
}

.subComponentHeader .right {
    font-family: 'Roboto-Light';
    font-size: 16px;
    color: #F15E2F;
}

.subComponentHeader .right .signin {
    font-family: Calibri;
    border: 1px solid #F15E2F;
    background-color: #fff;
    border-radius: 3px;
    padding: 5px 16px;
    color: #F15E2F;
    margin-left: 20px;
    font-size: 15px;
    cursor: pointer;
}


.subComponentHeader .right .getStart {

    background-color: #F15E2F;
    /* border: 2px solid #F15E2F; */
    font-family: Calibri;
    border: none;
    border-radius: 3px;
    padding: 6px 12px;
    margin-left: 20px;
    font-size: 15px;
    color: #fff;
    cursor: pointer;
}

.logoutEmail .useremail{
    position: relative;
    height: 30px;
    color: #ED6C44;
    font-family: 'Montserrat', sans-serif;
}
.logoutEmail .useremail:hover .downList{
    display: block;
}
.logoutEmail a{
    display: block;
    text-align: right;
    font-family: 'Montserrat', sans-serif;
    font-size: 10px;
    color: #959595;
}
.logoutEmail .logout:hover{
    text-decoration: underline;
}
.logoutEmail a:hover{
    color: #959595;
}
.logoutEmail .downList{
    width: 160px;
    position: absolute;
    right: 0;
    top:25px;
    display: none;
    border: 1px solid #ccd1d6;
    background: #FFFFFF;
    box-shadow: 0 2px 3px 0 rgba(0,0,0,0.15);
}
.logoutEmail .downList li{
    display: block;
    text-align: left;
    height: 30px;
    line-height: 30px;
    padding-left: 10px;
}
.logoutEmail .downList li:nth-child(2){
    border-top: 1px solid #ccd1d6;
    border-bottom: 1px solid #ccd1d6;
}
.logoutEmail .downList li:hover{
    color: #656565;
}
.logoutEmail .downList li .fa{
    font-size: small;
    margin: 0 10px;
}
