@charset "CESU-8";
.ant-modal{
    width: 380px !important;
    height: auto;
    padding: 30px;
    position: relative;
    top: 260px !important;
    border-radius: 18px;
}

:global(.ant-modal-body){
    border-radius: 18px;
}
:global(.ant-modal-content){
    border-radius: 19px !important;
}

.ant-modal-close-x{
    color: #aaaaaa;
}
.ant-modal-body{
    background-color:#203041 !important;
}
.popupWindowContent img.logo{
    width: 260px;
    margin-top: 10px;
}
.popupWindowContent .loading{
    width: 60px;
    margin-bottom: 15px;
}
.popupWindowContent .userInformation{
    line-height: 30px;
    margin-bottom: 20px;
}
.popupWindowContent .userInformation h3{
    color: #F0CA72;
    margin: 40px auto 10px;
    font-size: 18px;
}
.popupWindowContent .userInformation h4{
    color: #75777c;
    margin: 10px auto 15px;
    font-size: 10px;
}
.popupWindowContent .userInformation .loginButton{
    width: 260px;
    height: 40px;
    line-height: 40px;
    background-color: #ED6C44;
    font-size: 16px;
    color: #FFFFFF;
    border: none;
    border-radius: 10px;
    font-family: Roboto-Black;
    cursor: pointer;
}
.popupWindowContent  h2{
    width: 80%;
    margin: 0 auto;
    color: #888c91;
    font-size: 12px;
    border-bottom: 1px solid #ED6C44;
    padding: 10px 0;
}
.popupWindowContent .displayflexcenter{
    height: 20px;
    margin: 10px auto 20px;
}
.popupWindowContent .displayflexcenter img{
    width: 20px;
    height: 20px;
    margin: 0 4px;
    cursor: pointer;
}
.popupWindowContent .displayflexcenter img:hover{
    width: 22px;
    height: 22px;
}
.popupWindowContent  p{
    color: #888c91;
    font-size: 14px;
    margin: 20px 0;
}
.popupWindowContent  a{
    color: #F0CA72;
    font-size: 12px;
    text-decoration: underline;
}
.popupWindowContent  a.checkingTransaction{
    display: block;
    font-size: 14px;
    font-family: Roboto-Medium;
    line-height: 24px;
    margin: 30px;
    text-decoration: none;
}
.popupWindowContent .response span{
    font-family: Calibri;
    font-size: 10px;
    color: #F15E2F;
    text-decoration: underline;
    cursor: pointer;
    display: block;
    margin-top: 5px;
}