@charset "UTF-8";
.accountAddress{
    width: 100%;
    min-width: 1024px;
    min-height:calc(100vh - 495px);
}
.accountAddressContent{
    width: 80%;
    margin: 30px auto;
}

.accountAddressContent h6{
    text-align: left;
    line-height: 30px;
    font-size: 14px;
    color: #959595;
}
.accountAddressContent input{
    width:360px;
    height: 35px;
    line-height: 35px;
    background: #F8F9F9;
    border-radius: 7px;
    font-size: 14px;
    color: #182430;
    text-align: left;
    padding-left: 10px;
}
.accountAddressContent .copyBtn {
    width: 80px;
    height: 35px;
    line-height: 35px;
    font-family: Roboto-Bold;
    border: 2px solid #F15B2D;
    border-radius: 11px;
    margin-left: 15px;
    color: #F15B2D;
    cursor: pointer;
}
.accountAddressContent .addWallet{
    width: 100px;
    height: 35px;
    line-height: 35px;
    background: #F15B2D;
    border-radius: 11px;
    margin-left: 15px;
    color: #fff;
    cursor: pointer;
}