@charset "UTF-8";
.accountCenter .accountCenterContent{
    width: 1024px;
    margin: 0 auto;
    padding-top: 100px;
    min-height: calc(100vh - 220px);
}
.accountCenterContent .totalDtc{
    font-family: Calibri;
    font-size: 40px;
    color: #182430;
    padding: 50px 0;
    border-bottom: 1px solid #d1d2d2;
}
.accountCenterContent .totalDtc a{
    font-family: Calibri;
}
.accountCenterContent .totalDtc h3{
    margin: 0;
    font-size: 30px;
    font-weight: 600;
}
.totalDtc a{
    font-family: Calibri;
    font-size: 14px;
    color: #EFCA73;
    display: block;
}
.totalDtc a:hover{
    color: #EFCA73;
}
/*tabs切换*/
.accountCenter .tabsContent .displayflexbetween li{
    width: 25%;
    font-family: Calibri;
    font-weight: bold;
    font-size: 18px;
    color: #182430;
    line-height: 35px;
    padding: 25px 0;
    border-bottom: 1px solid #d1d2d2;
    cursor: pointer;
}
.accountCenter .tabsContent .displayflexbetween li.active{
    border-bottom: 2px solid #ED6C44;;
}