.checkout{
    height: calc(100vh - 370px);
    font-family: Calibri;
}
.checkout .checkoutleft{
    margin: 40px auto 0;
}
.checkout .info{
    height: 15px;
    line-height: 15px;
    font-size: 14px;
    color: #c52b3a;
    margin-top: 5px;
}
.checkout .checkoutleft .displayflexcenter{
    align-items: flex-end;
}
.checkout .checkoutleft .inner{
    text-align: left;
    margin: 0 10px;
}
.checkout .checkoutleft .inner h6{
    font-size: 14px;
    color: #959595;
    line-height: 25px;
}
.checkout .checkoutleft .cl-3{
    min-width: 160px;
    height: 30px;
    line-height: 30px;
    border: 1px solid #adadad;
    border-radius: 7px;
    padding: 0 15px;
}
.checkout .checkoutleft .inputContent{
    width: 240px;
    border: 1px solid #c52b3a;
    border-radius: 7px;
    background: #FFFFFF;
    height: 30px;
    line-height: 30px;
    padding-right: 5px;
}
.checkout .checkoutleft .inputContent input{
    width: 200px;
    height: 26px;
    line-height: 26px;
}
.checkout .checkoutleft  span{
    font-size: 10px;
    color: #F15E2F;
    display: inline-block;
    float: right;
}
.checkout .checkoutleft .fa{
    color: #F15E2F;
    margin: 0 15px;
    height: 30px;
    line-height: 30px;
}
/*重置按钮*/
.checkout .reset{
    font-size: 10px;
    display: block;
    cursor: pointer;
    border-radius: 7px;
    background: #ED6C44;
    color: #FFFFFF;
    padding: 6px 15px;
    text-transform: Uppercase;
}
