@charset "UTF-8";
/*dashboard*/
.dashboard{
    width: 90%;
    margin: 40px auto;
    font-family: Calibri;
}
.dashboard .nav{
    text-align: left;
    border-top:1px solid #d1d2d2;
    border-bottom:1px solid #d1d2d2;
    padding: 10px 20px;
    font-size: 16px;
    color: #FB531F;
    line-height: 25px;
}
.dashboard .nav .fa {
    color: #cdcdcd;
    font-size: 20px;
    margin: 0 10px;
}

.dashboard .nav span:nth-child(3){
    color: #182430;
}
.dashboard .bonus{
    text-align: left;
    padding: 15px 20px;
    font-size: 18px;
    color: #182430;
    line-height: 25px;
}
.dashboard .bonus em{
    font-size: 30px;
    color: #497D8B;
    line-height: 25px;
    margin-left: 5px;
}
.dashboard .ant-select{

}
.dashboard .ant-select-selection--single{
    height: 40px;
    background: #F8F9F9;
}
.dashboard .ant-select-selection__rendered{
    line-height: 40px;
    font-size: 14px;
    color: #182430;
}
.dashboard input[name="amountInETH"],.dashboard span.ETH{
    width: 190px;
    margin: 0 10px !important;
    height: 40px;
    line-height: 40px;
    background: #FFF !important;
    border: 1px solid #c6c7c7 !important;
    color: #182430 !important;
    border-radius: 5px;
}
.dashboard span.ETH{
    width: 90px;
}
.dashboard .buyToken{
    width: 100px;
    margin:0;
    height: 40px;
    background: #545864 !important;
    font-family: Calibri;
    font-size: 13px;
    color: #FFFFFF;
    text-align: center;
    line-height: 25px;
}

.dashboard .ETHWallet{
    font-size: 10px;
    color: #EFCA73;
}
.dashboard .amountBonus{
    margin-top: 30px;
}
.dashboard .amountBonus li{
    line-height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.dashboard .amountBonus li em{
    width: 300px;
    text-align: right;
    font-size: 16px;
    color: #959595;
    line-height: 22px;
    margin-right: 10px;
}
.dashboard .amountBonus li span{
    width: 600px;
    text-align: left;
    font-size: 16px;
    color: #182430;
}
.dashboard .amountBonus li span i{
    font-size: 16px;
    color: #959595;
}
.dashboard a.addHash{
    width: 92%;
    display: block;
    font-size: 10px;
    color: #F15E2F;
    text-align: right;
    text-decoration: underline;
}
.dashboard span.btns{
    width: 110px;
    height: 30px;
    line-height: 30px;
    border: 1px solid #F15E2F;
    display: block;
    margin-top: 15px;
    border-radius: 7px;
    font-size: 10px;
    cursor: pointer;
}
.dashboard .btns.confirmBtn{
    background: #F15E2F;
    color: #fff;
}
.dashboard .btns.backBtn{
    background: #fff;
    color: #F15E2F;
}
.dashboard h6{
    font-size: 14px;
    color: #959595;
    line-height: 30px;
    text-align: left;
}
.dashboard .walletAddress{
    width: 500px;
    height: 40px;
    margin: 5px auto;
    line-height: 40px;
    background: #F8F9F9;
    border-radius: 7px;
    font-size: 12px;
    color: #497D8B;
    padding-left: 10px;
}
.dashboard .senderWalletContent{
    width: 500px;
    background: #F8F9F9;
    margin: 30px auto;
    padding: 20px;
}
.dashboard .senderWalletContent h5{
    font-size: 18px;
    color: #182430;
    text-align: center;
    line-height: 25px;
}
.dashboard .senderWalletContent ul li{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    color: #182430;
    margin: 10px auto;
}
.dashboard .senderWalletContent ul li span{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.dashboard .senderWalletContent ul li span img{
    margin-right:10px;
}
