@charset "UTF-8";
.walletCenter .walletCenterContent{
    width: 1024px;
    margin: 0 auto;
    padding-top: 100px;
    min-height: calc(100vh - 220px);
    font-family: Calibri;
}
.walletCenterContent .totalDtc{
    font-size: 40px;
    color: #182430;
    padding: 50px 0;
    border-bottom: 1px solid #d1d2d2;
}
.walletCenterContent .totalDtc h3{
    margin: 0;
}
.totalDtc a{
    font-size: 14px;
    color: #EFCA73;
    display: block;
}
.totalDtc a:hover{
    color: #EFCA73;
}


.walletCenterContent h4{
    font-size: 20px;
    color: #182430;
    line-height: 45px;
    text-align: left;
    border-top: 1px solid #d1d2d2;
    border-bottom: 1px solid #d1d2d2;
    padding-left: 20px;
}
.walletCenterContent h5{
    font-size: 14px;
    color: #787878;
    margin-top: 20px;
    text-align: left;
    padding-left: 10px;
}
.walletCenterContent input{
    width: 100%;
    height: 40px;
    background: #F8F9F9;
    border-radius: 7px;
    font-size: 14px;
    color: #182430;
    line-height: 25px;
    text-align: left;
    padding-left: 10px;
}

.curWallet {
  margin-top: -17px;
  margin-bottom: 60px;
  font-size: 12px;
  font-weight: bold;
  font-family: Calibri;
  color: gray;
}

.addWallet {
  padding: 8px 12px;
  color: #fff;
  cursor: default;
  border-radius: 5px;
  background-color: #fa8231;
  transition: 0.3s;
}
.addWallet:hover {
  background-color: #ff6348;
  transition: 0.3s;
}
.walletInputBox {
  width: 420px;
  background-color: #f5f6fa;
  padding: 8px 12px;
  border-radius: 5px;
  margin-right: 10px;
}
.walletAddressText {
  background-color: #f5f6fa;
  width: 400px;
  padding: 5px;
  text-align: center;
  border-radius: 10px;
  margin-bottom: 20px;
  margin-top: 20px;
}
