@charset "UTF-8";
/**BENEFITS FOR TOKEN HOLDERS**/
.bebefits {
    width: 100%;
    min-width: 1024px;
    min-height: 100vh;
    background: #fff;
    padding: 60px 0 0;
}

.bebefits h3 {
    color: #182430;
    text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.14);
    margin: 30px auto;
}

.bebefits ul {
    margin: 20px auto 0;
}

.bebefits ul li {
    text-align: left;
    font-size: 16px;
    color: #474C58;
    line-height: 30px;
}

.bebefits ul.holders {
    width: 750px;
}

.bebefits ul.holders li span {
    width: 16px;
    height: 16px;
    line-height: 16px;
    margin: 0 20px;
    border: 1px solid #ED6C44;
    border-radius: 50%;
}

.bebefits ul.holders li span em {
    width: 10px;
    height: 10px;
    margin: 2px;
    border-radius: 50%;
    background: #ED6C44;
}

.bebefits ul.tokenDetails {
    width: 970px;
}

.bebefits .tokenDetails li span {
    margin: 0 10px;
    text-align: left;
}

.bebefits .tokenDetails li em {
    width: 305px;
    text-align: left;
    margin: 0 10px;
}

.bebefits .tokenDetails li i {
    width: 600px;
    text-align: left;
}

.bebefits .displayflexcenter {
    align-items: flex-start;
}

.bebefits .displayflexcenter li {
    margin: 15px 30px;
    text-align: center;
}

.bebefits .displayflexcenter li span {
    font-size: 20px;
    font-weight: 500;
    color: #0b0b0b;
    line-height: 20px;
    margin-bottom: 20px;
}

.bebefits .displayflexcenter li p {
    font-size: 16px;
    color: #545864;
    line-height: 20px;
}