@charset "UTF-8";
/**COMPETE,WIN,EARN**/
.competewinearn {
    width: 100%;
    min-width: 1024px;
    height: 430px;
    margin-top: -1px;
    background-image: linear-gradient(0deg, #1E2B39 0%, #182430 100%);
}

.competewinearn ul.displayflexbetween {
    width: 1024px;
    margin: 0 auto;
    padding:100px 20px 0;
}

.competewinearn ul li {
    width: 300px;
    height: 250px;
    background: #26394C;
    padding: 20px 20px;
    color: #FFFFFF;
}

.competewinearn ul li span {
    width: 116px;
    height: 116px;
    margin-top: -80px;
}

.competewinearn ul .compete span {
    background: url("../../images/fist2-01.svg") no-repeat 50% 50%;
}

.competewinearn ul .win span {
    background: url("../../images/trophy2-01.svg") no-repeat 50% 50%;
}

.competewinearn ul .earn span {
    background: url("../../images/diamond2-01.svg") no-repeat 50% 50%;
}

.competewinearn ul li span img {
    width: 116px;
    height: 116px;
    margin-left: -10px;
    margin-top: -3px;
}

.competewinearn ul .earn span img {
    margin-left: -13px;
    margin-top: -5px;
}

.competewinearn ul li h5 {
    font-size: 24px;
    margin-top: 20px;
    color: #FFFFFF;
}

.competewinearn ul li p {
    font-family: 'Roboto-Light';
    font-size: 17px;
    line-height: 25px;
    margin-top: 15px;
}

.competewinearn ul li p em {
    font-size: 24px;
    font-family: BebasNeue-Regular;
}
