.contactUs {
  background-color: #111920;
}


/* start of forms CSS */
.contactUs .contactContent {
    width: 1024px;
    margin: 0 auto;
    padding: 40px 20px 10px;
}
.contactUs .contactContent .txtAreaNoResize {
    resize: none;
}

.contactUs .contactContent h3 {
    font-family: 'Roboto-Black';
    font-size: 20px;
    color: #fff;
}
.contactUs .contactContent input {
    width: 400px;
    height: 36px;
    display: block;
    border-radius: 3px;
}
.contactUs .ant-form-item{
    margin-bottom: 0;
}

.ant-form-item-children textarea.ant-input {
    min-width: 400px;
    min-height: 150px;
}

.contactUs button {
    font-family: 'Roboto-Medium';
    background-image: linear-gradient(0deg, #FB531F 0%, #ED6C44 100%);
    border-radius: 5px;
    border: none;
    width: 150px;
    color: #fff;
    padding: 12px;
    margin-top: 15px;
}

/* end of forms CSS */

/*start of the information CSS*/
.contactUs .contactIcons .contactsMainText {
    font-family: 'Roboto-Bold';
    font-size: 18px;
    color: #F8F9F9;
    line-height: 50px;
}

.contactUs .contactIcons ul {
    flex-flow: row wrap;
}

.contactUs .contactIcons ul li {
    width: 200px;
    text-align: left;
    margin-bottom: 20px;
}
.contactUs .contactIcons ul li:nth-child(2n){
    margin-left: 40px;
}

.contactUs ul li img {
    width: 18px;
    height: 18px;
    border-radius: 5px;
    margin-right: 5px;

}

.contactUs ul li img:hover {
    opacity: 0.6;
    transition: 0.3s;
}

.contactUs .contactIcons ul li span {
    font-family: 'Roboto-Bold';
    font-size: 14px;
    color: #fff;
}

.contactUs .contactIcons ul li p {
    position: relative;
    font-family: 'Roboto-Medium';
    line-height: 1.2;
    font-size: 12px;
    color: #bdc3c7;
    margin-left: 20px;
    margin-top: 5px;
}
/*end of the information CSS*/

/*start of the map CSS*/
.contactUs .map {
    width: 1024px;
    margin:0 auto;
}
/*end of the map CSS*/
