@charset "UTF-8";
/**JoinUs**/
.joinusContent {
    width: 100%;
    min-width: 1024px;
    padding: 40px 0;
    background:rgba(30,43,57,1);
}

.joinus h6 {
    font-size: 14px;
    color: #FFFFFF;
    text-align: center;
    line-height: 20px;
    margin: 15px 0;
}
.joinus .displayflexcenter{
    align-items: flex-start;
}
.joinus .displayflexcenter input {
    width: 280px;
    height: 47px;
    background: #2A4451;
    border-radius: 5px;
    color: #fff;
    padding-left: 10px;
}

.joinus button.signMeUp {
    background-image: linear-gradient(0deg, #FB531F 0%, #ED6C44 100%);
    border-radius: 5px;
    padding: 10px 20px;
    border: 1px solid #FB531F;
    color: #fff;
    margin-left: 10px;
    cursor: pointer;
    margin-top: 8px;
}

.joinus .asFeatured {
    width: 100%;
    min-width: 1024px;
    margin: 0 auto;
    padding: 20px 20px 40px;
    background: #fff;
}
.joinus .asFeaturedContent {
    width: 1024px;
    min-width: 1024px;
    margin: 0 auto;
}
.joinus .asFeatured h3 {
    font-size: 20px;
    margin-bottom: 30px;
    color: #182430;
    text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.14);
}

.joinus .asFeatured .displayflexcenter img {
    width: 130px;
}