@charset "CESU-8";
/**Legal**/
.legal {
    width: 100%;
    min-width: 1024px;
    background-image: linear-gradient(0deg, #1E2B39 71%, #182430 100%);
    padding: 50px 0 10px;
}
.legalContent{
    width: 1024px;
    margin: 0 auto;
    padding: 20px;
}
.legal h5 {
    font-size: 14px;
    color: #FFFFFF;
    text-align: center;
}

.legal ul{
    flex-flow: wrap row;
}
.legal ul li {
    width: 310px;
    height: 58px;
    border-radius: 7px;
    cursor: pointer;
    margin: 30px 40px;
}

.legal ul li:nth-child(1) {
    background-image: linear-gradient(0deg, #FB531F 0%, #ED6C44 100%);
}

.legal ul li:nth-child(2) {
    background-image: linear-gradient(-180deg, #E65B50 0%, #DD4339 100%);
}

.legal ul li:nth-child(3) {
    background-image: linear-gradient(0deg, #F79155 0%, #f7901d 100%);
}

.legal ul li img {
    height: 35px;
    padding: 3px 20px;
    border-right: 2px solid #151515;
}

.legal ul li a {
    width: 280px;
    font-family: BebasNeue-Regular;
    color: #fff;
    font-size: 28px;
    text-decoration: none;
}
