@charset "CESU-8";
/**LET’S CHAT**/
.letschat {
    width: 100%;
    min-width: 1024px;
    padding: 40px 0;
    background-image: linear-gradient(0deg, #1E2B39 25%, #182430 100%);
    color: #fff;
}

.letschat h3 {
    margin-top: 10px;
}

.letschat h6 {
    font-size: 14px;
    color: #FFFFFF;
}

.letschat .displayflexcenter {
    margin-top: 20px;
}

.letschat .displayflexcenter a {
    width: 351px;
    height: 58px;
    line-height: 58px;
    margin: 15px 10px;
    cursor: pointer;
}

.letschat .displayflexcenter .telegram {
    background-image: linear-gradient(0deg, #61A8DE 0%, #61A8DE 100%);
    border-radius: 7px;
}

.letschat .displayflexcenter .discord {
    background-image: linear-gradient(0deg, #8783DD 0%, #8783DD 100%);
    border-radius: 7px;
}

.letschat .displayflexcenter img {
    height: 35px;
    padding: 0 30px;
}

.letschat .displayflexcenter a em {
    width: 300px;
    line-height: 30px;
    border-left: 2px solid #303030;
    font-family: BebasNeue-Regular;
    font-size: 28px;
    color: #FFFFFF;
    text-align: center;
}