@charset "CESU-8";
/**theInsideScoop**/
.theInsideScoop {
    width: 100%;
    min-width: 1024px;
    background: #182430;
    padding: 40px 0;
}
.theInsideScoop .theScoopContent{
    width: 1024px;
    margin: 0 auto;
}