@charset "CESU-8";

/**THE TIME HAS COME!**/
.timeHasCome {
    width: 100%;
    min-width: 1024px;
    position: absolute;
    top: 160px;
    padding-bottom: 40px;
}

.timeHasCome h1 {
    font-family: Roboto-Black;
    font-size: 50px;
    line-height: 50px;
    color: #FFFFFF;
    text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.67);
}

.timeHasCome h2 {
    font-family: Roboto-Black;
    font-size: 60px;
    line-height: 70px;
    color: #FFFFFF;
    text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.67);
}

.timeHasCome h4 {
    font-size: 28px;
    color: #FFFFFF;
    margin: 15px 0;
}

/**DTC Total Supply:**/
.timeHasCome .DTCTotalSupply {
    width: 1004px;
    height: 430px;
    margin: 60px auto 30px;
    padding: 30px 20px;
    background: rgba(41,52,70,0.7);
    border: 1px solid #98C6F3;
    border-radius: 25px;
}

.timeHasCome .DTCTotalSupply h4 {
    font-size: 30px;
    color: #FEB407;
    line-height: 20px;
    margin-bottom: 0;
}

.timeHasCome .DTCTotalSupply h5 {
    font-family: Orbitron-Bold;
    font-size: 100px;
    color: #FFFFFF;
    margin-bottom: 0;
}
.timeHasCome .DTCTotalSupply span.buyDtcNow{
    width: 200px;
    height: 45px;
    line-height:45px;
    color: #fff;
    font-size: 24px;
    background: #ED6C44;
    border-radius: 8px;
    cursor: pointer;
}
.timeHasCome .DTCTotalSupply h6 {
    width: 90%;
    margin: 30px auto 10px;
    font-size: 13px;
    color: #FEB407;
    padding-top: 15px;
    opacity: 0.5;
    border-top: 1px solid #98C6F3;
}

.timeHasCome .DTCTotalSupply .displayflexcenter img {
    margin: 10px 40px;
}

