@charset "CESU-8";
/**播放视频**/
.videoRoadMap {
    background: rgba(0, 0, 0, 0.95);
    width: 100%;
    min-width: 1024px;
    min-height: 100vh;
    background: #182430;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 100% 0;
    background-image: url("../../images/geometry-hexagon.svg");
}

.videoRoadMap .blackcover {
    width: 100%;
    min-width: 1024px;
    min-height: 100vh;
    padding: 60px 0 40px;
    background: rgba(38, 57, 76, 0.7);
}

.videoRoadMap h3 {
    font-size: 20px;
    color: #fff;
    text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.14);
    margin: 30px auto;
}

.videoRoadMap .video-react {
    margin: 0 auto;
}

.videoRoadMap .video-react .video-react-big-play-button {
    width: 45px;
    height: 30px;
    line-height: 30px;
    border: none;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -25px;
    margin-top: -15px;
    background: url("../../images/youtube-01.svg") no-repeat 50% 50%;
}

.roadmap {
    width: 1024px;
    min-height: 300px;
    margin: 0 auto;
}

.roadmap .displayflexbetween span {
    font-family: Roboto-Light;
    opacity: 0.6;
    font-size: 30px;
    color: #fff;
    width: 100px;
    line-height: 45px;
}

.roadmap .month span {
    font-size: 20px;
}

.roadmap .displayflexbetween span.active {
    font-family: 'Roboto-Light';
    opacity: 1;
    color: #F5BB0D;
}

.roadmap .month span.active {
    font-size: 28px;
}

.roadmap .line {
    width: 940px;
    margin: 10px auto;
    height: 50px;
    align-items: flex-end;
    border-left: 1px solid #A7AEB5;
    border-right: 1px solid #A7AEB5;
}

.roadmap .line span {
    width: 60px;
    height: 30px;
    border-left: 1px solid #A7AEB5;
}

.roadmap .line span:first-child {
    border-left: none;
}

.roadmap .line span.longLine {
    height: 50px;
}

.roadmap .line span.borderNone {
    border-left: none;
}

.roadmap .roadmapFooter {
    width: 940px;
    margin: 25px auto 0;
    align-items: flex-start;
}

.roadmap .roadmapFooter div {
    width: 270px;
}

.roadmap .roadmapFooter .now {
    color: #ffc30e;
    border-radius: 20px;
    padding: 4px 10px;
    border: 1px solid #ffc30e;
    cursor: pointer;
}

.roadmap .roadmapFooter .mesagers {
    width: 260px;
    padding: 20px 15px;
    background: #374451;
    border-radius: 11px;
    position: relative;
}

.roadmap .roadmapFooter .mesagers .arrowUp {
    width: 0;
    height: 0;
    border-width: 0 15px 15px;
    border-style: solid;
    border-color: transparent transparent #374451; /*透明 透明  灰*/
    position: absolute;
    top: -15px;
    left: 50%;
    margin-left: -15px;

}

.roadmap .roadmapFooter .mesagers h4 {
    color: #FFFFFF;
    line-height: 25px;
}

.roadmap .roadmapFooter .buttons em {
    color: #FFFFFF;
}

.roadmap .roadmapFooter .fa-angle-left {
    margin: 0 15px;
}

.roadmap .roadmapFooter .buttons .fa {
    width: 27px;
    height: 27px;
    line-height: 27px;
    color: #EFCA73;
    border: 1px solid #EFCA73;
    border-radius: 50%;
    cursor: pointer;
}
